*.obj
*.log
*.pdb
*.tlog
*.idb
*.user
*.db
*.opendb
*.suo
*.ipch
*.res
*.sdf
*.db-shm
*.db-wal
*.iobj
*.ipdb
*.o
*.d
*.exp
*.recipe
*.FileListAbsolute.txt
/mods
/scripts
/locales
/data
/maps
/obj
/bin/lin64
/source/angelscript/lib
CMakeFiles
shipsets.txt
patcher.exe
sound*.dll

# clangd config
compile_commands.json

# clangd cache
.cache

# CLion
.idea
