*.obj
*.log
*.pdb
*.tlog
*.log
*.idb
*.user
*.db
*.opendb
*.suo
*.ipch
*.res
*.sdf
*.db-shm
*.db-wal
*.iobj
*.ipdb
*.o
*.d
*.exp
*.recipe
*.FileListAbsolute.txt
/mods
/scripts
/locales
/data
/maps
shipsets.txt
patcher.exe
sound*.dll
